div, h1, h2, h3, h4, p, span{
	/*border: 1px double black;*/
}
html *{
	font-family: 'Abel', sans-serif;
	color:black;
}
a {
	text-decoration: none !important ;
}
header {
	background-color: rgba(255, 255, 255, 0.9);
}
@media (focus: focus)   {
  .nav>li>a:focus  {
    background-color: #00C8FF;
    border-radius: 5px; 
  }
}  

@media (hover: hover) {
	.nav>li>a:hover {
    	background-color: #00C8FF;
    	border-radius: 5px;	
    	text-decoration: none;
      color: white;


	}
}
@media (active: active) {
  .nav a:active {
      color: white !important;
  }
}

.nav a{
	margin-right: 15px;
	font-size: 16px;

}
.btn-custom {
	background-color: #00CfFF;
	border-radius: 10px !important;
	color: white;
}
@media (hover: hover) {
  .btn-custom:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -o-transform: scale(1.2);
    color: white !important ;

  }
}
.img-service{
	background-position: center;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    flex: 0 0 auto;
    background-size: 60% 60%;
}
.img-service-mobile{
	background-image: url(images/smartphone.svg);
}
.img-service-web{
	background-image: url(images/monitor.svg);
}
.img-service-design{
	background-image: url(images/layers.svg);
}
.img-service-qa{
	background-image: url(images/test.svg);
}
.line {
  overflow: hidden;
  position: relative;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  color: #C2C2C2;
  min-width: 100%;
}

@media (hover: hover) {
  .line:hover {
    overflow: hidden;
    position: relative;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    color: #575757;
    min-width: 100%;

  }
}
.line:before,
.line:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  width: 100%;
  height: 1px;
  vertical-align: middle;
  border-top: 1px dashed #C2C2C2;
}
.line:before {
  left: -10px;
  margin-left: -100%;
}
.line:after {
  left: 10px;
  margin-right: -50%;
}
.page-footer{
	background-color: #F7F7F7;
}
svg .clients-logo {
  fill: #B2B2B2;
}

@media (hover: hover)   {
  svg:hover .clients-logo {
    fill: #000;
  }
}  

@media (hover: hover)   {
  .service-block:hover  {
    border-radius: 10px;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}  
#logo-decos{
  width: 100px;
  height: 30px;
}
.logo svg{
  width:202px;
  height:42px;
}


